dist/modals.html
<!DOCTYPE html><!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width minimum-scale=1.0 maximum-scale=1.0 user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Модальные окна</title>
  <link href="main.css" rel="stylesheet"></head>
  <body>
    <div class="wrap-page">
      <div class="wrap">
<script src="./mobile-menu.js"></script>
<nav class="mobile-menu" id="mobile-menu">
  <ul>
    <li><a href="#">Кто мы</a></li>
    <li><span>Услуги</span>
      <ul>
        <li><a href="#">Аутсорсинг</a></li>
        <li><a href="#">Услуги для семейных офисов состоятельных клиентов</a></li>
        <li><a href="#">Финансовый консалтинг</a></li>
        <li><a href="#">Временное управление</a></li>
        <li><a href="#">Миграционное законодательство</a></li>
        <li><a href="#">БС-Digital</a></li>
      </ul>
    </li>
    <li><a href="#">Команда</a></li>
    <li><a href="#">Карьера</a></li>
    <li><a href="#">Новости</a></li>
    <li><a href="#">Контакты</a></li>
  </ul>
</nav>
<header class="header" id="header">
  <div class="container header__container">
    <button id="mobile-menu-toggle"><span></span><span></span><span></span></button>
    <div class="header-logo"><a class="header-logo__img" href="/">
        <svg width="82" height="52">
          <use xlink:href="#logo"></use>
        </svg></a><span class="header-logo__text">Персонально<br>Независимо<br>Технологично</span></div>
    <nav class="header-nav">
      <ul class="header-nav__list">
        <li class="header-nav__item"><a href="javascript:void(0);">Кто мы</a></li>
        <li class="header-nav__item header-nav__item_parent"><span>Услуги</span>
          <ul>
            <li><a href="javascript:void(0);">Аутсорсинг
                <svg width="7" height="10">
                  <use xlink:href="#chevron-right"></use>
                </svg></a></li>
            <li><a href="javascript:void(0);">Услуги для семейных офисов состоятельных клиентов
                <svg width="7" height="10">
                  <use xlink:href="#chevron-right"></use>
                </svg></a></li>
            <li><a href="javascript:void(0);">Финансовый консалтинг
                <svg width="7" height="10">
                  <use xlink:href="#chevron-right"></use>
                </svg></a></li>
            <li><a href="javascript:void(0);">Временное управление
                <svg width="7" height="10">
                  <use xlink:href="#chevron-right"></use>
                </svg></a></li>
            <li><a href="javascript:void(0);">Миграционное законодательство
                <svg width="7" height="10">
                  <use xlink:href="#chevron-right"></use>
                </svg></a></li>
            <li><a href="javascript:void(0);">БС-Digital
                <svg width="7" height="10">
                  <use xlink:href="#chevron-right"></use>
                </svg></a></li>
          </ul>
        </li>
        <li class="header-nav__item"><a href="javascript:void(0);">Команда</a></li>
        <li class="header-nav__item"><a href="javascript:void(0);">Карьера</a></li>
        <li class="header-nav__item"><a href="javascript:void(0);">Новости</a></li>
        <li class="header-nav__item"><a href="javascript:void(0);">Контакты</a></li>
      </ul>
    </nav>
    <button class="header__search-toggler" data-open-modal="search-modal">
      <svg width="21" height="20">
        <use xlink:href="#search"></use>
      </svg>
    </button>
    <div class="header-languages"><a class="header-languages__current" href="javascript:void(0);">Рус</a>
      <div class="header-languages__list">
        <ul>
          <li><a href="javascript:void(0);">Рус</a></li>
          <li><a href="javascript:void(0);">Eng</a></li>
        </ul>
      </div>
    </div>
    <div class="header-phone">
      <svg width="36" height="36">
        <use xlink:href="#circle"></use>
      </svg><a href="tel:+74959212116">+7 (495) 921-21-16</a>
    </div>
  </div>
</header>
<div class="modal modal_search" id="search-modal" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-close-modal>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="Поиск по сайту">
      <button class="modal__close" aria-label="Закрыть" data-close-modal></button>
      <div class="modal__header">
        <h3 class="modal__title">Поиск по сайту</h3>
      </div>
      <div class="modal__content">
        <form class="search-input">
          <input class="search-input__field" placeholder="Поиск..." type="search" name="search">
          <button class="btn" type="submit">Найти</button>
        </form>
      </div>
    </div>
  </div>
</div>
        <main>
          <div class="modals-page">
            <div class="container"><br><br>
              <button class="btn" data-open-modal="modal-feedback">#modal-feedback</button><br><br>
              <button class="btn" data-open-modal="modal-text">#modal-text</button>
            </div>
            <div class="modal" id="modal-text" aria-hidden="true">
              <div class="modal__overlay" tabindex="-1" data-close-modal>
                <div class="modal__container" role="dialog" aria-modal="true" style="max-width:736px;">
                  <button class="modal__close" aria-label="Закрыть" data-close-modal></button>
                  <div class="modal__header">
                    <h3 class="modal__title">Персональный подход</h3>
                  </div>
                  <div class="modal__content">
                    <p>Изучаем Ваши потребности, цели, ожидания, внутренние мотивы, чтобы максимально близко подобрать соответствующее решение задачи</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal" id="modal-feedback" aria-hidden="true">
              <div class="modal__overlay" tabindex="-1" data-close-modal>
                <div class="modal__container" role="dialog" aria-modal="true">
                  <button class="modal__close" aria-label="Закрыть" data-close-modal></button>
                  <div class="modal__header">
                    <h3 class="text-center modal__title">Свяжитесь с нами</h3>
                  </div>
                  <div class="modal__content">
                    <form>
                      <div class="form-item form-item__text-field">
                        <input type="text">
                        <label>Имя и Фамилия</label>
                      </div>
                      <div class="form-item form-item__text-field">
                        <input type="email">
                        <label>Эл. почта</label>
                      </div>
                      <div class="form-item form-item__text-field">
                        <input type="tel">
                        <label>Номер телефона</label>
                      </div>
                      <div class="form-item form-item__text-field">
                        <input type="text">
                        <label>Название компании</label>
                      </div>
                      <div class="form-item form-item__textarea">
                        <textarea></textarea>
                        <label>Комментарий</label>
                      </div>
                      <div class="form-item">
                        <button class="btn full-width" type="submit">Отправить</button>
                      </div>
                      <div class="form-item__checkbox form-item__agree">
                        <label>
                          <input type="checkbox"><span>
                            Я прочитал(а) и принимаю условия Положения о конфиденциальности, Условия использования информации 
                            и Условия обработки персональных данных</span>
                        </label>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
<footer class="footer">
  <div class="footer-top">
    <div class="container footer-top-container">
      <div class="footer-left">
        <div class="footer__logo">
          <svg width="120" height="76">
            <use xlink:href="#logo"></use>
          </svg>
        </div>
        <p>ООО «Бухгалтерские Консультанты Плюс»</p><span>ИНН: 7707699379<br>КПП: 770701001</span>
      </div>
      <nav class="footer-nav">
        <div class="footer-col">
          <h5>О нас</h5>
          <ul>
            <li><a href="javascript:void(0);">Кто мы</a></li>
            <li><a href="javascript:void(0);">Команда</a></li>
            <li><a href="javascript:void(0);">Карьера</a></li>
            <li><a href="javascript:void(0);">Новости</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h5>Услуги</h5>
          <ul>
            <li><a href="javascript:void(0);">Аутсорсинг</a></li>
            <li><a href="javascript:void(0);">Услуги для семейных офисов состоятельных клиентов</a></li>
            <li><a href="javascript:void(0);">Временное управление</a></li>
            <li><a href="javascript:void(0);">БС-Digital</a></li>
          </ul>
        </div>
      </nav>
      <div class="footer-contacts">
        <div class="footer-col">
          <h5>Офис в Москве</h5>
          <p>Бизнес-центр «Ильинка» ул. Ильинка 3/8 стр.5,</p><a href="mailto:bkplus@mail.ru">bkplus@mail.ru</a><a href="tel:+7 (495) 921-21-16">+7 (495) 921-21-16</a>
        </div>
        <div class="footer-col">
          <h5>Офис в Волгограде</h5>
          <p>Бизнес-центр «Икра» Наб. 62-й Армии</p><a href="mailto:bkplus@mail.ru">bkplus@mail.ru</a><a href="tel:+7 (8442) 267-212">+7 (8442) 267-212</a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container footer-bottom-container"><span>2020 ©</span><a href="javascript:void(0);">Политика конфиденциальности</a></div>
  </div>
</footer>
<svg style="display: none;" fill="none" xmlns="http://www.w3.org/2000/svg">
  <symbol id="logo" viewBox="0 0 82 52" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill="var(--logo, #0E3D8F)" d="M7.20761 28.9933V45.1622H21.3024C26.9268 45.1622 30.2534 41.9421 30.2534 37.0964C30.2534 32.2506 26.9268 28.9746 21.3024 28.9746L7.20761 28.9933ZM1.10889 8.15852H32.2308C32.3801 8.1549 32.5284 8.18236 32.6666 8.23918C32.8048 8.29599 32.9299 8.38093 33.034 8.48869C33.1381 8.59644 33.219 8.72469 33.2716 8.86539C33.3242 9.00609 33.3474 9.15621 33.3397 9.30635V13.8915C33.3571 14.0429 33.3405 14.1964 33.2912 14.3406C33.2418 14.4847 33.1609 14.6158 33.0544 14.7242C32.948 14.8326 32.8187 14.9156 32.6761 14.9669C32.5336 15.0182 32.3814 15.0366 32.2308 15.0207H7.20761V22.1559H21.3024C30.3273 22.1559 37.4548 28.0254 37.4548 37.115C37.4548 46.2046 30.3273 52.0058 21.3024 52.0058H1.10889C0.958075 52.0229 0.80537 52.0053 0.662257 51.9544C0.519144 51.9036 0.389347 51.8206 0.282623 51.712C0.175899 51.6033 0.0950251 51.4716 0.0460802 51.327C-0.00286478 51.1823 -0.018607 51.0283 3.675e-05 50.8766V9.30635C0.00474918 9.01106 0.122898 8.72909 0.329667 8.51969C0.536436 8.31028 0.815734 8.18972 1.10889 8.18334"></path>
    <path fill="var(--logo, #0E3D8F)" d="M42.9376 8.57458V1.12917C42.9157 0.978491 42.9286 0.824776 42.9752 0.679915C43.0218 0.535055 43.1009 0.402932 43.2063 0.293769C43.3117 0.184607 43.4406 0.101329 43.5831 0.0503804C43.7256 -0.000568647 43.8778 -0.0178238 44.0279 -5.0257e-05H48.0938C48.241 -0.016857 48.3901 -1.01994e-05 48.53 0.0492369C48.6699 0.0984839 48.7969 0.178864 48.9017 0.284397C49.0065 0.38993 49.0863 0.5179 49.1352 0.658786C49.1841 0.799673 49.2008 0.949851 49.1841 1.09815V8.57458H56.5765C56.7246 8.5578 56.8745 8.57482 57.0151 8.62439C57.1557 8.67395 57.2834 8.75479 57.3888 8.86089C57.4941 8.967 57.5744 9.09564 57.6236 9.23727C57.6728 9.3789 57.6897 9.52987 57.673 9.67899V13.774C57.6909 13.9212 57.676 14.0706 57.6294 14.2113C57.5828 14.352 57.5057 14.4805 57.4037 14.5874C57.3016 14.6944 57.1772 14.7771 57.0394 14.8295C56.9017 14.882 56.7541 14.9029 56.6073 14.8908H49.2149V22.3362C49.2314 22.4847 49.2146 22.6351 49.1658 22.7762C49.1169 22.9173 49.0372 23.0456 48.9326 23.1516C48.8279 23.2576 48.701 23.3386 48.5612 23.3886C48.4213 23.4386 48.2721 23.4564 48.1246 23.4406H44.0587C43.9088 23.4615 43.7561 23.4475 43.6123 23.3998C43.4685 23.3521 43.3375 23.2718 43.2293 23.1652C43.1211 23.0586 43.0385 22.9285 42.988 22.7848C42.9374 22.6411 42.9202 22.4876 42.9376 22.3362V14.8908H35.5144C35.3669 14.9074 35.2176 14.8905 35.0775 14.8412C34.9374 14.792 34.81 14.7118 34.7048 14.6064C34.5995 14.501 34.5191 14.3732 34.4695 14.2323C34.4198 14.0915 34.4022 13.9412 34.4178 13.7926V9.67899C34.4012 9.52987 34.4181 9.3789 34.4673 9.23727C34.5165 9.09564 34.5968 8.967 34.7021 8.86089C34.8075 8.75479 34.9352 8.67395 35.0758 8.62439C35.2164 8.57482 35.3663 8.5578 35.5144 8.57458H42.9376Z"></path>
    <path fill="var(--logo, #0E3D8F)" d="M70.9054 9.03966C71.2049 8.74488 71.561 8.51472 71.9518 8.36323C72.3427 8.21175 72.7601 8.14213 73.1785 8.15862H80.2321C80.3851 8.14732 80.5376 8.18634 80.6667 8.2698C80.7957 8.35326 80.8944 8.47667 80.9479 8.62147C81.0014 8.76627 81.0068 8.92464 80.9632 9.07278C80.9197 9.22092 80.8296 9.35082 80.7064 9.44296L61.8805 27.0576L81.7291 50.6347C81.8585 50.7444 81.9489 50.8937 81.9864 51.0599C82.0238 51.226 82.0063 51.4 81.9366 51.5553C81.8668 51.7105 81.7486 51.8386 81.6 51.9199C81.4513 52.0013 81.2803 52.0315 81.113 52.0059H74.8233C74.378 52.021 73.935 51.9345 73.5275 51.753C73.12 51.5714 72.7586 51.2994 72.4701 50.9573L56.7059 31.8102L50.6687 36.7738V50.8767C50.687 51.0272 50.6715 51.18 50.6232 51.3237C50.575 51.4674 50.4952 51.5983 50.3899 51.7067C50.2846 51.8151 50.1565 51.8983 50.0149 51.9501C49.8734 52.0019 49.7221 52.021 49.5722 52.0059H44.644C44.4927 52.024 44.3392 52.0072 44.1953 51.9568C44.0514 51.9064 43.9208 51.8236 43.8134 51.7148C43.7059 51.606 43.6245 51.474 43.5752 51.3288C43.5259 51.1836 43.5101 51.029 43.5289 50.8767V33.504L70.9054 9.03966Z"></path>
  </symbol>
  <symbol id="search" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M20.2722 18.6726L15.3912 13.7917C16.6045 12.3328 17.3354 10.4593 17.3354 8.41797C17.3354 3.77628 13.5592 0 8.91776 0C4.27618 0 0.5 3.77628 0.5 8.41797C0.5 13.0593 4.27618 16.8353 8.91776 16.8353C10.959 16.8353 12.8326 16.1045 14.2915 14.8912L19.1726 19.7722C19.3244 19.9241 19.5234 20 19.7224 20C19.9214 20 20.1204 19.9241 20.2723 19.7722C20.576 19.4685 20.576 18.9763 20.2722 18.6726ZM2.05518 8.41797C2.05518 4.63381 5.1337 1.55518 8.91776 1.55518C12.7017 1.55518 15.7801 4.63381 15.7801 8.41797C15.7801 12.2018 12.7017 15.2801 8.91776 15.2801C5.1337 15.2801 2.05518 12.2018 2.05518 8.41797Z" fill="var(--search-fill)"></path>
    <defs>
      <linearGradient id="search_gradient" x1="10.5" y1="0" x2="10.5" y2="20" gradientUnits="userSpaceOnUse">
        <stop stop-color="var(--gradient-from, #4F4937)"></stop>
        <stop offset="1" stop-color="var(--gradient-to, #7E5A30)"></stop>
      </linearGradient>
    </defs>
  </symbol>
  <symbol id="chevron-right" viewBox="0 0 7 10">
    <path d="M1.36377 9L5.00013 5L1.36377 1" stroke="var(--color, #4E4E52)" stroke-width="2" stroke-linecap="round"></path>
  </symbol>
  <symbol id="arrow-left" viewBox="0 0 19 8">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.646447 4.35389C0.451184 4.15863 0.451184 3.84205 0.646447 3.64679L3.82843 0.464806C4.02369 0.269544 4.34027 0.269544 4.53553 0.464806C4.7308 0.660068 4.7308 0.976651 4.53553 1.17191L2.20711 3.50034H19V4.50034H2.20711L4.53553 6.82877C4.7308 7.02403 4.7308 7.34061 4.53553 7.53587C4.34027 7.73114 4.02369 7.73114 3.82843 7.53587L0.646447 4.35389Z" fill="var(--arrow, #DABE89)"></path>
  </symbol>
  <symbol id="arrow-right" viewBox="0 0 19 8">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.1716 0.464806L18.3536 3.64679C18.5488 3.84205 18.5488 4.15863 18.3536 4.35389L15.1716 7.53587C14.9763 7.73114 14.6597 7.73114 14.4645 7.53587C14.2692 7.34061 14.2692 7.02403 14.4645 6.82877L16.7929 4.50034H0V3.50034H16.7929L14.4645 1.17191C14.2692 0.976651 14.2692 0.660068 14.4645 0.464806C14.6597 0.269544 14.9763 0.269544 15.1716 0.464806Z" fill="var(--arrow, #DABE89)"></path>
  </symbol>
  <symbol id="circle" viewBox="0 0 36 36">
    <g filter="url(#filter0_d)">
      <circle cx="18" cy="18" r="9.5" stroke="var(--fill-circle, #DABE89)"></circle>
    </g>
    <g filter="url(#filter1_d)">
      <circle cx="18" cy="18" r="3" fill="var(--fill-circle, #DABE89)"></circle>
    </g>
    <defs>
      <filter id="filter0_d" x="0" y="0" width="36" height="36" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"></feColorMatrix>
        <feOffset></feOffset>
        <feGaussianBlur stdDeviation="4"></feGaussianBlur>
        <feColorMatrix type="matrix" values="0 0 0 0 0.979167 0 0 0 0 0.850827 0 0 0 0 0.607899 0 0 0 1 0"></feColorMatrix>
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"></feBlend>
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"></feBlend>
      </filter>
      <filter id="filter1_d" x="7" y="7" width="22" height="22" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"></feColorMatrix>
        <feOffset></feOffset>
        <feGaussianBlur stdDeviation="4"></feGaussianBlur>
        <feColorMatrix type="matrix" values="0 0 0 0 0.979167 0 0 0 0 0.850827 0 0 0 0 0.607899 0 0 0 1 0"></feColorMatrix>
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"></feBlend>
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"></feBlend>
      </filter>
    </defs>
  </symbol>
</svg>
    </div>
  <script type="text/javascript" src="bundle.js"></script></body>
</html>

src/modals.pug
<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width minimum-scale=1.0 maximum-scale=1.0 user-scalable=no")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Модальные окна
	body
		.wrap-page
			.wrap
				include includes/header.pug

				main
					.modals-page
						.container
							br
							br
							button.btn(data-open-modal="modal-feedback") #modal-feedback
							br
							br
							button.btn(data-open-modal="modal-text") #modal-text

						#modal-text.modal(aria-hidden="true")
							.modal__overlay(tabindex="-1" data-close-modal)
								.modal__container(role="dialog" aria-modal="true" style="max-width:736px;")
									button.modal__close(aria-label="Закрыть" data-close-modal)
									.modal__header
										h3.modal__title Персональный подход
									.modal__content
										p Изучаем Ваши потребности, цели, ожидания, внутренние мотивы, чтобы максимально близко подобрать соответствующее решение задачи

						#modal-feedback.modal(aria-hidden="true")
							.modal__overlay(tabindex="-1" data-close-modal)
								.modal__container(role="dialog" aria-modal="true")
									button.modal__close(aria-label="Закрыть" data-close-modal)
									.modal__header
										h3.text-center.modal__title Свяжитесь с нами
									.modal__content
										form
											.form-item.form-item__text-field
												input(type="text")
												label Имя и Фамилия

											.form-item.form-item__text-field
												input(type="email")
												label Эл. почта

											.form-item.form-item__text-field
												input(type="tel")
												label Номер телефона

											.form-item.form-item__text-field
												input(type="text")
												label Название компании

											.form-item.form-item__textarea
												textarea
												label Комментарий

											.form-item
												button.btn.full-width(type="submit") Отправить

											.form-item__checkbox.form-item__agree
												label
													input(type="checkbox")
													span
														| Я прочитал(а) и принимаю условия Положения о конфиденциальности, Условия использования информации 
														| и Условия обработки персональных данных


			include includes/footer.pug
